
    <nz-card  [nzTitle]="CardTitle" >
      <ng-template #CardTitle>
        <h3 style="text-align :left;">Ajouter Catégorie de document</h3>
      </ng-template>
      <form nz-form [formGroup]="formulaire">
      <div nz-row>
        <div nz-col nzSpan="4">
          <div class="label-container">
            <div class="text-justify" nzRequired><span>Code</span></div>
            <div class="text-justify"nzRequired><span>Description</span></div>
            <div class="text-justify" style="margin-top: 70px;" nzRequired><span>Actif</span></div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="label-container">
            <div class="text-justify"><span><input nz-input  nzSize="default" formControlName="code" /></span></div>
            <div class="text-justify"><span><textarea nz-input formControlName="description" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea></span></div>
            <div class="text-justify"><span><nz-switch formControlName="actif" nzCheckedChildren="Oui" nzUnCheckedChildren="Non"></nz-switch></span></div>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div class="label-container">
            <div class="text-justify" nzRequired><span>Libellé </span></div>
            <div class="text-justify" nzRequired><span>Ordre </span></div>
            <div class="text-justify" style="margin-top: 70px;" nzRequired><span>HI7 </span></div>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="label-container">
            <div class="text-justify"><span><input nz-input formControlName="libelle" nzSize="default" /></span></div>
            <div class="text-justify"><span><input nz-input formControlName="ordre" nzSize="default" /></span></div>
            <div class="text-justify" style="margin-top: 60px;"><span><input nz-input formControlName="hi7" nzSize="default" /></span></div>
        
          </div>
        </div>
      </div>
      </form>
    </nz-card>
    <nz-card  class="card2"> 
      <button nz-button class="btn btn-purple" (click)="onFormSubmit()" ><fa-icon [icon]="faFloppyDisk"  ></fa-icon> Enregister & Nouveau </button>
      <button nz-button class="btn btn-purple" (click)="onFormSubmitQ()"><fa-icon [icon]="faFloppyDisk"></fa-icon> Enregister & Quitter </button>
      <button nz-button class="btn btn-white" (click)="onFormReset()"><fa-icon [icon]="faRotateLeft"></fa-icon> Réinitialiser </button>
      <button nz-button class="btn btn-white" routerLink="/Referentiel"><fa-icon [icon]="faReply"  ></fa-icon> Quitter</button>
    </nz-card>
   
  