
td .btn {
    border-radius: 3px;
    font-size: 13px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.2rem 1rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.048);
    cursor: pointer;
  }
.btn-gray{
    color: black;
    background-color: #7c7c7c62;
    border-color: #7c7c7c62;
    font-size: 13px;
    font-family: monospace;
    
  }
.btn-gray:hover{
    background-color: #7c7c7ccc;
    border-color: #7c7c7ccc;
  }