<nz-tabset nzSize="large">
  <nz-tab [nzTitle]="titleTemplate">
    <ng-template #titleTemplate>
      <span nz-icon nzType="eye"></span>
      Consulter une admission
    </ng-template>
    <app-consultation />
  </nz-tab>

  <nz-tab nzTitle="Mouvements">
    <app-mouvements />
  </nz-tab>

  <nz-tab nzTitle="Séjour">
    Séjour
  </nz-tab>

  <nz-tab nzTitle="Prestations">
    Prestations
  </nz-tab>

  <nz-tab nzTitle="Pharmacie">
    Pharmacie
  </nz-tab>

  <nz-tab nzTitle="Accompagnant">
    Accompagnant
  </nz-tab>

  <nz-tab nzTitle="Factures">
    Factures
  </nz-tab>

  <nz-tab nzTitle="Encaissements">
    Encaissements
  </nz-tab>

  <nz-tab nzTitle="Avance / Restitution">
    Avance / Restitution
  </nz-tab>

  <nz-tab nzTitle="Remboursement">
    Remboursement
  </nz-tab>

  <nz-tab nzTitle="Diagnostic">
    Diagnostic
  </nz-tab>

  <nz-tab nzTitle="Documents">
    Documents
  </nz-tab>

</nz-tabset>
