<nz-card style="width:300px;" class="adm-header-card">
    <div class="container">
      <div class="avatar-div">
        <img src="http://192.168.1.129:8883/BILLING/assets/img/photo.jpg" alt="avatar">
      </div>
  
      <div class="details">
        <div class="details-header">
          <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
            <div>
              <a href="#">Test Urgent, </a>
              <span nz-icon nzType="woman" nzTheme="outline"></span>
            </div>
            <div class="ourOwnClass">
              <!-- <nz-alert nzType="success" nzMessage="Success Text">N° admission 1963/H/HS/24</nz-alert> -->
              <nz-alert nzType="success" nzMessage="N° admission 1963/H/HS/24" style="margin-bottom: 10px;"></nz-alert>
            </div>
          </div>
        </div>
        <div class="details-body">
          <div class="item">
            <strong>IPP: </strong> <span>2400001354</span> <i class="fa-regular fa-copy"></i>
          </div>
          <div class="item">
            <strong>Type admission: </strong> <span>Hospitalisation</span>
          </div>
          <div class="item">
            <strong>Age: </strong> <span>28 ANS</span>
          </div>
          <div class="item">
            <strong>Motif admission: </strong> <span>Hospitalisation Urgente</span>
          </div>
          <div class="item">
            <strong>Organisme: </strong> <span>PAYANT</span>
          </div>
        </div>
        <div class="details-footer">
          <span>Aucune étiquette</span>
        </div>
      </div>
    </div>
  </nz-card>
  