
<nz-card style="width:100%;" >
    
    <button nz-button nzType="primary" class="btn btn-warning"><fa-icon [icon]="faPenToSquare"></fa-icon> Saisie de prestations et de produits</button>
    <button nz-button nzType="primary" class="btn btn-green"><fa-icon [icon]="faDownload"></fa-icon> Téléchargement
    </button>
  
      <!-- <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzPlacement="topLeft" nzType="primary" class="btn btn-green"><fa-icon [icon]="faDownload"></fa-icon> Téléchargement</button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>1st menu item length</li>
          <li nz-menu-item>2nd menu item length</li>
          <li nz-menu-item>3rd menu item length</li>
        </ul>
      </nz-dropdown-menu> -->
    
    <button nz-button nzType="primary" class="btn btn-green" routerLink="/referentiel"><fa-icon [icon]="faDownload"></fa-icon> Télécharger documents d'hospitalisation</button>
    <button nz-button nzType="primary"class="btn btn-purple"><fa-icon [icon]="faFloppyDisk"></fa-icon> Editer</button>
    <button nz-button nzType="primary" class="btn btn-danger"><fa-icon [icon]="faX"></fa-icon> Annuler</button>
    <button nz-button nzType="primary" class="btn btn-warning"><fa-icon [icon]="faSlash"></fa-icon> Cloturer</button>
    <button nz-button nzType="primary" class="btn btn-white"><fa-icon [icon]="faReply"></fa-icon> Quitter</button>

</nz-card>

